@media screen and (max-width: 776px) {
  .col-sm-12 {
    margin-top: 15px;
  }
}
@media screen and (min-width: 776px) {
  .short {
     display: none;
  }
}
@media screen and (max-width: 576px) {
  .list-group {
    display: none;
  }
}
